html {
  min-height: 100%;
}

body {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #00000081;
  font-size: 5.625rem;
  margin: 20px auto 0 auto;
  font-family: 'Parisienne', cursive, sans-serif;
}

h2 {
  color: #000000b0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1em;
  font-weight: normal;
}

h3 {
  color: #000000b0;
}

h4 {
  color: #000000b0;
}

p {
  text-align: center;
}

hr {
  border: dotted #53535381 6px;
  border-bottom: none;
  width: 4%;
  margin: 20px auto
}

.navbar {
  border-radius: 2px;
  margin: .3em 5em 0px;
  background-color:transparent !important;
}
.navbar-brand {
  font-family: 'Parisienne', cursive, sans-serif;
  font-size: 2.5rem;
  line-height: 1em;
}

.resume-container {
  background-image: url("../images/left-plant.jpg");
  background-size: cover;
  position: relative;
  padding: 20px 50px;
  border: 2px solid rgba(71, 82, 82, 0.404);
  border-radius: 2px;
  margin: 1em 5em 3em;
}

a{
  color: #000000b0;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: rgb(163, 194, 221);
}

.header-links {
  padding: 2px;
  margin: 0;

}
.resume-content {
  background-color: rgba(225, 225, 238, 0.733);
  padding: 20px 50px;
  margin: 3em 5em 3em;
  color: black !important;
}

.btn {
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;

}

.btn:hover {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  text-decoration: none;
}

.copyright {
  color: #ffffff;
  font-size: 0.75rem;
  padding: 20px 0;
}
