html {
  min-height: 100%;
}

body {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #00000081;
  font-size: 5.625rem;
  margin: 20px auto 0 auto;
  font-family: 'Parisienne', cursive, sans-serif;
}

h2 {
  color: #000000b0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1em;
  font-weight: normal;
}

h3 {
  color: #000000b0;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  color: #000000b0;
  font-family: 'Montserrat', sans-serif;
}

p {
  text-align: center;
}

hr {
  border: dotted #53535381 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto
}

.navbar {
  border: 2px solid rgba(149, 185, 185, 0.055);
  border-radius: 2px;
  margin: .5em 5em 0;
}
.top-container {
  background-image: url("../images/left-plant.jpg");
  background-size: cover;
  position: relative;
  padding: 20px 50px;
  border: 2px solid rgba(71, 82, 82, 0.404);
  border-radius: 2px;
  margin: 3em 5em 3em;
}

.middle-container {
  padding: 50px 0 50px;
  background-image: url("../images/both-plant.jpg");
  background-size: cover;
  border: 2px solid rgba(71, 82, 82, 0.404);
  border-radius: 2px;
  margin: 3em 5em 3em;
}

.section {
  padding: 50px 0 auto;
}

.skill-logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.list-group-item {
  background-color: rgba(187, 187, 221, 0.151);
  text-align:justify;
  padding-left: 7em;
  letter-spacing: 2px;
}

.list-group-item:hover {
  color: rgb(163, 194, 221);
}

.footer {
  padding: 50px 0 20px;
  background-size: cover;

}

.color-box {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  padding: 20px;
  background-color: rgba(187, 187, 221, 0.295);

}

.pro {
  text-decoration: underline;
}

.copyright {
  color: #ffffff;
  font-size: 0.75rem;
  padding: 20px 0;

}


#propic {
  padding: 1em;
  border-radius: 50%;
  height: 15em;
  width: 15em;
}


.btn {
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;

}

.btn:hover {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  text-decoration: none;
}

a{
  color: #000000b0;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: rgb(163, 194, 221);
}


@media only screen and (max-width: 767px) {
  html {
     background-image: url(smaller-image.jpg);
  }
}